attrs==20.3.0
click==7.1.2
iniconfig==1.1.1
joblib==1.0.1
nltk==3.5
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
regex==2020.11.13
toml==0.10.2
tqdm==4.58.0
pre_commit==2.11.1appdirs==1.4.4
attrs==20.3.0
cfgv==3.2.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
identify==2.1.2
iniconfig==1.1.1
joblib==1.0.1
nltk==3.5
nodeenv==1.5.0
packaging==20.9
pluggy==0.13.1
pre-commit==2.11.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
PyYAML==5.4.1
regex==2020.11.13
six==1.15.0
toml==0.10.2
tqdm==4.58.0
virtualenv==20.4.2
